body{
	margin: 0 0 60px;
}
body .container{
	width:96%;
	padding:2%;
}
body header{
	position:relative;
	margin:0;
	padding:2.5% 0 1% 0;
	width:100%;
	float:left;
	text-align:center;
	font-family:arial;
	font-size:16pt;
	border-width:2px 2px 0 2px;
	border-color:#1E186A;
	border-style:solid;
	border-radius:5px 5px 0 0;
}
header h4{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	float:left;
	text-align:center;
	color:#1E186A;
}
body section{
	position:relative;
	margin:0;
	padding:3% 0 3% 0;
	width:100%;
	float:left;
	text-align:left;
	font-family:arial;
	padding-bottom:60px;
	border-width:0 2px;
	border-color:#1E186A;
	border-style:solid;
}
body footer{
	position:relative;
	bottom:0;
	height:auto;
	margin:0;
	padding:0;
	width:100%;
	float:left;
	text-align:center;
	font-family:arial;
	border-width:0 2px 2px 2px;
	border-color:#1E186A;
	border-style:solid;
	border-radius: 0 0 5px 5px;
}
aside.left{
	position:relative;
	margin:0 1% 2% 2%;
	padding:0 0 2% 0;
	width:46%;
	float:left;
	border:2px solid #1E186A;
	border-radius:5px;
}
aside.left h5{
	position:relative;
	margin:0 0 2% 0;
	padding:2% 0;
	width:100%;
	float:left;
	text-align:center;
	color:#1E186A;
	font-weight:bold;
	border-bottom: 2px solid #1E186A;
}
section.side h5.emitente{
	position:relative;
	margin:0;
	padding:1% 0 0 0;
	width:100%;
	border-bottom:none;
	float:left;
	text-align:center;
	font-size:12.5pt;
	color:#1E186A;
}
section.side h6{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	float:left;
	text-align:center;
	color:#1E186A;
}
aside.topright{
	position:relative;
	margin:0;
	padding:5.5% 0;
	width:50%;
	float:left;
	text-align:center;
}
p.pcom{
	position:relative;
	margin:0 1%;
	padding:0;
	width:98%;
	float:left;
	border-bottom:2px solid #1E186A;
	text-align:left;
}
p.pcom2{
	position:relative;
	margin:0 1%;
	padding:0;
	width:82%;
	float:left;
	border-bottom:2px solid #1E186A;
	text-align:left;
}
p.pcom3{
	position:relative;
	margin:0 1%;
	padding:0;
	width:14%;
	float:left;
	border-bottom:2px solid #1E186A;
	text-align:left;
}
p.pcom span, p.pcom2 span, p.pcom3 span{
	font-weight:bold;
	color:#1E186A;
	border-bottom:3px solid #fff;
}
p.psem{
	position:relative;
	margin:3% 1% 0 1%;
	padding:0;
	width:98%;
	float:left;
	border-bottom:2px solid #1E186A;
	text-align:left;
}
p.psem2{
	position:relative;
	margin:3% 25% 0 25%;
	padding:0;
	width:50%;
	float:left;
	border-bottom:2px solid #1E186A;
	text-align:left;
}
aside.right{
	position:relative;
	margin:0 2% 2% 1%;
	padding:0 0 2% 0;
	width:46%;
	float:left;
	border:2px solid #1E186A;
	border-radius:5px;
}
aside.right h5{
	position:relative;
	margin:0 0 2% 0;
	padding:2% 0;
	width:100%;
	float:left;
	text-align:center;
	color:#1E186A;
	font-weight:bold;
	border-bottom: 2px solid #1E186A;
}
section.side{
	position: relative;
	margin: 0;
	padding: 17.3% 0 0 0;
	width: 100%;
	float: left;
	border:none;
}
.top.left section.side{
	padding-top: 0;
}
body .container section aside.corpo{
	position: relative;
	margin: 0 1%;
	padding: 0;
	width: 98%;
	height: auto;
	float: left;
	border-bottom: 2px solid #1E186A;
}
body .container section aside.corpo .tit_corpo{
	position: relative;
	margin: 0;
	padding: 0;
	width: 10%;
	font-weight: bold;
	color:#1E186A;
	max-height: 100%;
	float: left;
}
body .container section aside.corpo .text_corpo{
	position: relative;
	margin: 0;
	padding: 0;
	width: 90%;
	height: auto;
	float: left;
}
@media print{
	body{
		margin: 0 0 60px;
	}
	body .container{
		width:96%;
		padding:2%;
	}
	body header{
		position:absolute;
		margin:0;
		padding:5% 0 2.5% 0;
		width:96%;
		float:left;
		text-align:center;
		font-family:arial;
		font-size:16pt;
		border-width:2px 2px 0 2px;
		border-color:#1E186A;
		border-style:solid;
		border-radius:5px 5px 0 0;
	}
	header h4{
		position:relative;
		margin:0;
		padding:0;
		width:100%;
		float:left;
		text-align:center;
		color:#1E186A;
	}
	body section{
		position:absolute;
		margin:9% 0 0 0;
		padding:10% 0;
		width:96.3%;
		float:left;
		text-align:left;
		font-family:arial;
		padding-bottom:60px;
		border-width:0 1px;
		border-color:#1E186A;
		border-style:solid;
	}
	body footer{
		position:absolute;
		bottom:0;
		height:auto;
		margin:0;
		padding:0;
		width:96.2%;
		float:left;
		text-align:center;
		font-family:arial;
		border-width:0 2px 2px 2px;
		border-color:#1E186A;
		border-style:solid;
		border-radius: 0 0 5px 5px;
	}
	aside.left{
		position:relative;
		margin:0 1% 2% 2%;
		padding:0 0 2% 0;
		width:46%;
		float:left;
		border:2px solid #1E186A;
		border-radius:5px;
	}
	aside.left h5{
		position:relative;
		margin:0;
		padding:2% 0;
		width:100%;
		float:left;
		text-align:center;
		color:#1E186A;
		font-weight:bold;
	}
	aside.left p.pcom{
		position:relative;
		margin:0 1%;
		padding:0;
		width:98%;
		float:left;
		border-bottom:2px solid #1E186A;
		text-align:left;
	}
	aside.left p.pcom span{
		font-weight:bold;
		color:#1E186A;
		border-bottom:3px solid #fff;
	}
	aside.left p.psem{
		position:relative;
		margin:3.5% 1% 0 1%;
		padding:0;
		width:98%;
		float:left;
		border-bottom:2px solid #1E186A;
		text-align:left;
	}
	aside.right section.side{
		padding-top: 36%;
	}
	.pcom.print{
		margin-bottom: 50%;
	}
	.top.left h5{
		position:relative;
		margin:0;
		padding:1% 0 0 0;
		width:100%;
		float:left;
		text-align:center;
		font-size:12.5pt;
		color:#1E186A;
	}
	aside.right{
		position:relative;
		margin:0 2% 2% 1%;
		padding:0 0 2% 0;
		width:46%;
		float:left;
		border:2px solid #1E186A;
		border-radius:5px;
	}
	aside.right h5{
		position:relative;
		margin:0;
		padding:2% 0;
		width:100%;
		float:left;
		text-align:center;
		color:#1E186A;
		font-weight:bold;
	}
	aside.topright{
		position:relative;
		margin:0 0 10% 0;
		padding:5.5% 0;
		width:50%;
		float:left;
		text-align:center;
	}
	body .container section aside.corpo{
		position: relative;
		margin: 0 1%;
		padding: 1% 0 0 0;
		width: 98%;
		height: auto;
		float: left;
		border-bottom: 2px solid #1E186A;
	}
	body .container section aside.corpo.prescricao{
		margin-bottom: 50%;
	}
	body .container section aside.corpo .tit_corpo{
		position: relative;
		margin: 0;
		padding: 0;
		width: 10%;
		font-weight: bold;
		color:#1E186A;
		max-height: 100%;
		float: left;
	}
	body .container section aside.corpo .text_corpo{
		position: relative;
		margin: 0;
		padding: 0 0 0 6%;
		width: 84%;
		height: auto;
		float: left;
	}
	footer aside.left p.pcom.top{
		padding-top: 6.5%;
	}
	footer aside.left p.pcom.foot{
		margin-bottom: 6.5%;
	}
}