@page {
    size: A4 landscape;
}

* {
    border: none;
}


/* table thead tr th:nth-child(3),
table thead tr th:nth-child(7),
table thead tr th:nth-child(11),
table td:nth-child(3),
table td:nth-child(7),
table td:nth-child(11) {
	border-right: 2px solid black;
} */

body {
    /* zoom: 29%; */
    font-family: Arial, sans-serif;
    font-size: 8px;
    margin: 0;
    padding: 0;
    /* font-size: 40%; */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
}

.header img {
    max-height: 50px;
}

.header h1 {
    font-size: 30px;
    margin: 0;
}

.right-logo {
    display: flex;
    align-items: center;
}

.right-logo img {
    max-height: 50px;
    margin-right: 10px;
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    border: 0.01px solid black;
    page-break-inside: avoid;
}

.table thead {
    background-color: #f2f2f2;
}

.table th,
.table td {
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-left: 3px;
    text-align: center;
    border: 0.01px solid black;
    page-break-inside: avoid;
}

.table tbody tr:nth-child(odd) {
    background-color: lightgray;
}

.table-header {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    text-align: left;
    border: 0px transparent;
}

.signatures {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.signature-block {
    width: 30%;
}

.signature-block p {
    margin: 5px 0;
}

.table-info {
    width: 100%;
    page-break-inside: avoid;
}

.table-info,
.table-info tr,
.table-info td {
    border: 0.01px solid black;
    border-collapse: collapse;
    margin-top: 5px;
    page-break-inside: avoid;
}

.table-info2 {
    width: 100%;
    page-break-inside: avoid;
}

.table-info2,
.table-info2 tr,
.table-info2 td {
    border: 0.01px solid black;
    border-collapse: collapse;
    margin-top: 5px;
    page-break-inside: avoid;
}

.table-resumo {
    width: 100%;
    page-break-inside: avoid;
    border-collapse: collapse;
    border: 0;
}

.table-resumo tr,
.table-resumo td {
    border: 0.01px solid black;
    border-collapse: collapse;
    background-color: white;
}

.table-bottom {
    width: 100%;
    background-color: white;
}

td .empty {
    border: 0.01px solid transparent;
    border-right: 0.01px solid black;
}